footer {
	background-color: white;
}
.footer-container {
	.general-informations {
		.adresse {
			h4 {
				color: $bc-primary;
			}
			p {
				color: $bc-primary;
			}
		}
	}
}

ul#footer-menu-left,
ul#footer-menu-right {
	li {
		a {
			color: $bc-primary;
			&:hover {
				color: $bc-secondary;
			}
		}
		&.bc-active {
			a {
				color: $bc-primary;
			}
		}
	}
}

.development_by {
	color: $bc-primary;
	a {
		color: $bc-primary;
	}
}

.copyright {
	color: $bc-primary;
}