// Sizes
$nav-height: 120px;
$nav-height-mobile: 55px;
$above-nav-height: 30px;
$footer-height: 200px;
$logo-width: 200px;
$logo-width-992: 150px;
$logo-width-1200: 200px;
$logo-width-1400: 240px;
$logo-width-mobile: 140px;
$logo-width-footer: 230px;

$header-home-height: 550px;
$header-home-height-mobile: 550px;
$header-height: 500px;