// Color system
$bc-primary: #054f98;
$bc-secondary: #cf0000;
$bc-tertiary: #c1b5ae;

$bc-primary-opacity: rgba(5, 79, 152, .6);

$body-text-color: black;
$text-grey: #5f5d5d;
$text-highlight: #606060;
$bground-grey: #f5f5f5;

$bc-placeholder: rgba(
	$color: $bc-primary,
	$alpha: 0.3,
);

// Sections colors
$bground-footer: $bc-primary;

$bc-radius: 20px;
$bc-radius-img: 16px;
$bc-radius-small: 10px;

$filter-primary: invert(16%) sepia(69%) saturate(3103%) hue-rotate(198deg)
	brightness(101%) contrast(96%);
$filter-secondary: invert(12%) sepia(69%) saturate(6217%) hue-rotate(358deg)
	brightness(92%) contrast(116%);
$filter-tertiary: invert(82%) sepia(11%) saturate(243%) hue-rotate(338deg)
	brightness(89%) contrast(87%);

$filter-body: $filter-primary;
$filter-white: invert(100%);

// Fonts
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Oswald:wght@200;300;400;500;600;700&display=swap");
// font-family: 'Open Sans', sans-serif;
// font-family: 'Oswald', sans-serif;

$body-font: "Open Sans", sans-serif;
$heading-font: "Oswald", sans-serif;
$heading-font-light: $heading-font;
$font-family-sans-serif: "Overpass" !default;

$ease: cubic-bezier(0.6, 0.4, 0.2, 1);

$transition: all 0.3s $ease;
$transition-logo: filter 1s $ease;
$transition-long: all 0.8s $ease;
$transition-opacity: opacity 0.5s $ease;

$primary: $bc-primary;
$secondary: $bc-secondary;

// Sizes
$nav-height: 120px;
$nav-height-mobile: 55px;
$above-nav-height: 30px;
$footer-height: 200px;
$logo-width: 100px;
$logo-width-992: 150px;
$logo-width-1200: 200px;
$logo-width-1400: 240px;
$logo-width-mobile: 140px;
$logo-width-footer: 230px;
$slider-height: 500px;

// Burger Animation Vars
$line-color: black;
$line-color-sticky: $bc-secondary;
$line-hover-color: $line-color;
$line-active-color: $bc-secondary;
$line-width: 20px;
$line-thickness: 1px;
$rotation: 45deg;
$burger-height: 12px;
$burger-width: $line-width;

@media screen and (min-width: 576px) {
}
@media screen and (min-width: 768px) {
}
@media screen and (min-width: 992px) {
}
@media screen and (min-width: 1200px) {
}
@media screen and (min-width: 1400px) {
}
