.dstcyr-buttons {
	.btn {
		padding: 10px 50px !important;
		font-size: 16px !important;
		line-height: 25px !important;
		text-transform: uppercase;
		vertical-align: middle !important;
		border-radius: 10px !important;
		transition: $transition;
		i {
			font-size: 10px;
		}
	}
	button {
		display: flex;
		align-items: center;
		justify-content: center;
		column-gap: 10px;
		&.btn-gradient {
			color: white;
			transition: 0.5s;
			background-size: 200% auto;
			background-image: linear-gradient(
				to right,
				$bc-primary 0%,
				$bc-secondary 51%,
				$bc-primary 100%
			);
		}
		&.btn-primary {
			color: white;
			border: 1px solid $bc-primary;
			transition: $transition;
		}
		&.btn-primary-outline {
			border: 1px solid $bc-primary;
			color: white;
			transition: $transition;
		}
		&.btn-primary-outline-card {
			border: 1px solid $bc-primary;
			color: $bc-secondary;
			transition: $transition;
		}
		&.btn-secondary {
			color: white;
			border: 1px solid $bc-secondary;
			transition: $transition;
		}
		&.btn-black {
			color: white;
			background: black;
			border: 1px solid black;
			transition: $transition;
		}
		&.btn-white {
			color: $bc-primary;
			background: white;
			border: 1px solid white;
			transition: $transition;
		}
		&:hover {
			&.btn-gradient {
				background-position: right center; /* change the direction of the change here */
				text-decoration: none;
			}
			&.btn-primary {
				background: white;
				color: $bc-primary;
				transition: $transition;
			}
			&.btn-primary-outline {
				border: 1px solid $bc-primary;
				color: $bc-primary;
				background: white;
				transition: $transition;
			}
			&.btn-primary-outline-card {
				border: 1px solid $bc-primary;
				color: white;
				background: $bc-primary;
				transition: $transition;
			}
			&.btn-secondary {
				background: white;
				color: $bc-secondary;
				transition: $transition;
			}
			&.btn-black {
				background: white;
				color: black;
				transition: $transition;
			}
			&.btn-white {
				background: $bc-primary;
				color: white;
				transition: $transition;
			}
		}
	}
}
