.dsc-headings {
    position: relative;
    height: 40px;
    margin: 0 0 30px;
    h2, h3 {
        padding: 0;
        margin: 0;
        font-size: 24px;
        line-height: 30px;
        font-weight: bold;
        text-transform: uppercase;
    }
}


@media screen and (min-width: 576px) {
    .dsc-headings {
        h2, h3 {
            font-size: 24px;
            line-height: 30px;
        }
    }
}
@media screen and (min-width: 992px) {
    .dsc-headings {
        h2, h3 {
            font-size: 30px;
            line-height: 40px;
        }
    }
}