// Cercles images
.wpb_single_image {
	position: relative;
}
.circle-image {
	position: relative;
	padding: 0 !important;
	border-radius: 50%;
	width: 240px !important;
	height: 240px !important;
	overflow: hidden;
	.vc_single_image-wrapper {
		height: 100%;
		width: 100%;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}

.after-waves-right,
.after-waves-left {
	position: absolute;
	z-index: -1;
	top: 20px;
	width: 440px;
	max-width: 100%;
	height: auto;
	img {
		width: 100%;
		height: 100%;
		object-fit: contain;
	}
}
.after-waves-left {
	left: 50%;
	transform: translateX(-50%);
}
.after-waves-right {
	right: 50%;
	transform: translateX(50%);
}

@media screen and (min-width: 576px) {
	.circle-image {
		max-width: 350px !important;
		width: 350px !important;
		height: 350px !important;
	}
	.after-waves-left,
	.after-waves-right {
		top: 50%;
		right: 50%;
		width: 100%;
		transform: translateX(50%) translateY(-50%);
	}
}
@media screen and (min-width: 768px) {
}
@media screen and (min-width: 992px) {
	.circle-image {
		width: 290px !important;
		height: 290px !important;
	}
	.after-waves-right,
	.after-waves-left {
		top: 50%;
		width: 100%;
	}
	.after-waves-right {
		right: calc(-100% + 130px);
		transform: translateY(-50%);
	}
	.after-waves-left {
		left: calc(-100% + 130px);
		transform: translateY(-50%);
	}
}
@media screen and (min-width: 1200px) {
	.circle-image {
		width: 350px !important;
		height: 350px !important;
	}
}
