.separated-block-left {
	margin-bottom: 50px !important;
}
.separated-block-right {
	margin-bottom: 0px !important;
}
@media screen and (min-width: 768px) {
	.separated-block-left {
		padding-right: 50px !important;
		margin-bottom: 0px !important;
	}
	.separated-block-right {
		padding-left: 50px !important;
		margin-bottom: 0px !important;
		border-left: 1px solid $body-color;
	}
}

.wpb_wrapper {
	ul,
	li {
		padding: 0;
		margin: 0;
		list-style: none;
	}

	ul {
		margin: 2em 0;
	}

	li {
		position: relative;
		margin: 1em;
		// padding: 0 0 0 1em;
	}

	li:before {
		content: "•";
		position: absolute;
		left: -0.5em;
		top: 13px;
		transform: translateY(-50%);
		font-size: 26px;
		color: $bc-primary;
	}
}

.wpb_text_column {
	margin-bottom: 0 !important;
}
@media screen and (max-width: 767px) {
	.wpb_text_column {
		padding-left: 25px;
		padding-right: 25px;
	}
}

.vc_section.vc_section-has-fill,
.vc_section.vc_section-has-fill + .vc_row-full-width + .vc_section,
.vc_section.vc_section-has-fill + .vc_section {
	padding-top: 0 !important;
}

.bc-video-wrapper {
	iframe {
		border-radius: $bc-radius;
		overflow: hidden;
	}
}

// Accordéons
.vc_tta.vc_general .vc_tta-panel-title {
	text-transform: uppercase;
	font-size: 18px;
	letter-spacing: 1px;
	color: #a9ac00 !important;
}

.vc_tta-color-grey.vc_tta-style-classic .vc_tta-panel .vc_tta-panel-body {
	background-color: transparent !important;
}

// Paragraphs
.paragraph-right {
	padding-left: 0 !important;
}
.paragraph-left {
	padding-right: 0 !important;
}

@media screen and (min-width: 768px) {
	.paragraph-right {
		padding-left: 30px !important;
	}
	.paragraph-left {
		padding-right: 30px !important;
	}
}
@media screen and (min-width: 992px) {
	.paragraph-right {
		padding-left: 70px !important;
	}
	.paragraph-left {
		padding-right: 70px !important;
	}
}

// Change col order on mobile
@media only screen and (max-width: 993px) {
	.swap-on-mobile {
		display: flex !important;
		flex-direction: column-reverse;
	}
}

// Responsive padding and margin
$step: 5;
$count: 40;

@for $i from 0 through $count {
	.margin-lg-#{$step*$i}t {
		margin-top: 0px + $step * $i !important;
	}
}

@for $i from 0 through $count {
	.margin-lg-#{$step*$i}b {
		margin-bottom: 0px + $step * $i !important;
	}
}

@for $i from 0 through $count {
	.padding-lg-#{$step*$i}t {
		padding-top: 0px + $step * $i !important;
	}
}

@for $i from 0 through $count {
	.padding-lg-#{$step*$i}b {
		padding-bottom: 0px + $step * $i !important;
	}
}

@media screen and (max-width: 1199px) {
	@for $i from 0 through $count {
		.margin-md-#{$step*$i}t {
			margin-top: 0px + $step * $i !important;
		}
	}

	@for $i from 0 through $count {
		.margin-md-#{$step*$i}b {
			margin-bottom: 0px + $step * $i !important;
		}
	}

	@for $i from 0 through $count {
		.padding-md-#{$step*$i}t {
			padding-top: 0px + $step * $i !important;
		}
	}

	@for $i from 0 through $count {
		.padding-md-#{$step*$i}b {
			padding-bottom: 0px + $step * $i !important;
		}
	}
}

@media screen and (max-width: 991px) {
	@for $i from 0 through $count {
		.margin-sm-#{$step*$i}t {
			margin-top: 0px + $step * $i !important;
		}
	}

	@for $i from 0 through $count {
		.margin-sm-#{$step*$i}b {
			margin-bottom: 0px + $step * $i !important;
		}
	}

	@for $i from 0 through $count {
		.padding-sm-#{$step*$i}t {
			padding-top: 0px + $step * $i !important;
		}
	}

	@for $i from 0 through $count {
		.padding-sm-#{$step*$i}b {
			padding-bottom: 0px + $step * $i !important;
		}
	}
}

@media screen and (max-width: 767px) {
	@for $i from 0 through $count {
		.margin-xs-#{$step*$i}t {
			margin-top: 0px + $step * $i !important;
		}
	}

	@for $i from 0 through $count {
		.margin-xs-#{$step*$i}b {
			margin-bottom: 0px + $step * $i !important;
		}
	}

	@for $i from 0 through $count {
		.padding-xs-#{$step*$i}t {
			padding-top: 0px + $step * $i !important;
		}
	}

	@for $i from 0 through $count {
		.padding-xs-#{$step*$i}b {
			padding-bottom: 0px + $step * $i !important;
		}
	}
}
