// Toggle burger
.toggle-wrapper {
	position: fixed;
	z-index: 10002;
	top: 0;
	right: 0;
	height: $burger-wrapper-height;
	width: $burger-wrapper-width;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: $bc-secondary;
	transition: $transition;
	#toggleMenu {
		position: absolute;
		top: 50%;
		left: 50%;
		z-index: 1000;
		width: $burger-width;
		height: $burger-height;
		transform: translate(-50%, -50%);
		cursor: pointer;
		.line {
			position: absolute;
			width: $line-width;
			height: $line-thickness;
			background: $line-color;
			transform-origin: center;
			transition: $transition;
		}
		.line-1 {
			top: 0;
			left: 50%;
			transform: translateY(0) translateX(-50%)
				rotate(0);
		}
		.line-2 {
			top: 50%;
			left: 50%;
			transform: translateY(-50%) translateX(-50%);
		}
		.line-3 {
			left: 50%;
			bottom: 0;
			transform: translateY(0) translateX(-50%)
				rotate(0);
		}
		&.active-toggle {
			.line {
				background: $line-active-color;
			}
			.line-1 {
				top: 50%;
				transform: translateY(-50%) translateX(-50%)
					rotate($rotation);
			}
			.line-2 {
				transform: translateY(-50%) translateX(-50%) scale(0);
			}
			.line-3 {
				top: 50%;
				transform: translateY(-50%) translateX(-50%)
					rotate($rotation * -1);
			}
		}
	}
	&.sticky {
		#toggleMenu {
			.line {
				background: $line-color-sticky;
			}
		}
	}
}
@media screen and (min-width: 992px) {
	.toggle-wrapper {
		right: -100px;
		transition: $transition;
	}
}

// Mobile navigation
#menu-wrapper-mobile {
	position: fixed;
	z-index: 901;
	right: -100%;
	top: 0;
	width: 100%;
	height: 100%;
	background: white;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: $transition;
	&.show-menu {
		right: 0;
		transition: $transition;
	}
}
@media screen and (min-width: 1200px) {
	#menu-wrapper-mobile {
		display: none;
		margin: 0;
		padding: 0;
		height: 0;
	}
}

ul#mobile-menu {
	position: relative;
	list-style: none;
	margin: 0 0 20px;
	padding: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	li {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		margin: 0 10px 20px 0;
		a {
			font-family: $body-font;
			font-size: 24px;
			font-weight: 400;
			color: $text-highlight;
			padding: 0;
			display: inline-block;
			line-height: 40px;
			vertical-align: middle;
			transition: $transition;
			&:hover {
				color: $bc-primary;
				transition: $transition;
			}
		}
		&.menu-item-has-children {
			ul.sub-menu {
				display: flex;
				flex-direction: column;
				align-items: center;
				background: white;
				z-index: 10;
				padding: 0;
				margin: 0;
				transform: scale(0);
				height: 0;
				transition: $transition;
				&.reveal-sub-menu {
					height: auto;
					margin: 20px 0 20px 20px;
					transform: scale(1);
					transition: $transition;
					li {
						margin: 0;
						padding: 0;
						a {
							font-size: 18px;
						}
					}
				}
			}
		}
		&:last-child {
			margin: 0;
		}
		&.bc-active {
			a {
				color: $bc-primary;
			}
		}
	}
}
@media screen and (min-width: 992px) {
	ul#mobile-menu {
		display: none;
	}
}