nav {
	&#main-navigation {
		padding: 0 5px;
		position: fixed;
		z-index: 899;
		top: 30px;
		width: 100%;
		min-height: $nav-height;
		background: white;
		border-bottom: 1px solid $bc-primary;
		.site-branding {
			z-index: 900;
			margin: 0 0 10px;
			display: flex;
			align-items: center;
			img {
				&.custom-logo {
					height: auto;
					width: $logo-width;
					object-fit: contain;
					transition: $transition;
				}
			}
		}
		.site-partners {
			display: flex;
			flex-direction: column-reverse;
			justify-content: center;
			align-items: center;
			flex-wrap: wrap;
			gap: 10px;
			img {
				// max-height: 100%;
				max-width: 100%;
				object-fit: contain;
			}
		}
	}
}

@media screen and (min-width: 576px) {
	nav {
		&#main-navigation {
			.site-branding {
				img {
					&.custom-logo {
						// height: 50px;
					}
				}
			}
			.site-partners {
				height: 60px;
				justify-content: center;
				flex-direction: row;
				flex-wrap: nowrap;
				gap: 20px;
			}
		}
	}
}

@media screen and (min-width: 768px) {
	nav {
		&#main-navigation {
			.site-branding {
				margin: 0;
			}
		}
	}
}
@media screen and (min-width: 992px) {
	nav {
		&#main-navigation {
			.site-branding {
				img {
					&.custom-logo {
						width: $logo-width-992;
						height: auto;
					}
				}
			}
			.site-partners {
				height: 60px;
				justify-content: flex-end;
				gap: 20px;
			}
		}
	}
}
@media screen and (min-width: 1200px) {
	nav {
		&#main-navigation {
			.site-branding {
				margin: 0;
				img {
					&.custom-logo {
						min-width: $logo-width-1200;
						height: auto;
					}
				}
			}
		}
	}
}
@media screen and (min-width: 1400px) {
	nav {
		&#main-navigation {
			.site-branding {
				margin: 0;
				img {
					&.custom-logo {
						min-width: $logo-width-1400;
						height: auto;
					}
				}
			}
			.site-partners {
				height: 60px;
			}
		}
	}
}

@media screen and (max-width: 576px) {
	nav {
		&#main-navigation {
			.site-partners {
				img {
					max-height: 50px !important;
					max-width: 80px !important;
				}
			}
		}
	}
}

.nav-container {
	position: relative;
	z-index: 999;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	margin: 0 auto;
	padding: 10px;
	max-width: 100%;
	min-height: $nav-height;
}
.above-nav-container {
	max-width: 100%;
}
@media screen and (min-width: 576px) {
	.nav-container {
		justify-content: space-around;
		padding: 0;
	}
}
@media screen and (min-width: 992px) {
	.nav-container {
		justify-content: space-between;
		padding: 0;
	}
}
@media screen and (min-width: 1200px) {
	.nav-container {
		// max-width: 1140px;
		padding: 0;
	}
}
@media screen and (min-width: 1400px) {
	.nav-container,
	.above-nav-container {
		max-width: 1340px;
		padding: 0;
	}
}

#menu-wrapper {
	width: auto;
}


ul#primary-menu {
	display: none;
}
@media screen and (min-width: 992px) {
	ul#primary-menu {
		list-style: none;
		margin: 0 auto;
		padding: 0;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		li {
			position: relative;
			margin: 0 10px;
			padding: 0;
			a {
				font-family: $heading-font;
				font-size: 15px;
				line-height: 20px;
				letter-spacing: 0;
				font-weight: 400;
				color: $bc-primary;
				padding: 0;
				display: inline-block;
				vertical-align: middle;
				text-transform: uppercase;
				transition: $transition;
				&.active {
					&:before {
						content: "";
						position: absolute;
						bottom: -10px;
						left: 0;
						width: 75%;
						height: 1px;
						background: $bc-secondary;
						transform-origin: left;
						transition: $transition;
					}
					&:after {
						content: "";
						position: absolute;
						bottom: -20px;
						right: 0;
						width: 75%;
						height: 1px;
						background: $bc-secondary;
						transform-origin: right;
						transition: $transition;
					}
				}
				&:before {
					content: "";
					position: absolute;
					bottom: -10px;
					left: 0;
					width: 0;
					height: 1px;
					background: $bc-secondary;
					transform-origin: left;
					transition: $transition;
				}
				&:after {
					content: "";
					position: absolute;
					bottom: -20px;
					right: 0;
					width: 0;
					height: 1px;
					background: $bc-secondary;
					transform-origin: right;
					transition: $transition;
				}
				&:hover {
					&:before {
						width: 75%;
						transition: $transition;
					}
					&:after {
						width: 75%;
						transition: $transition;
					}
				}
				&:hover {
					color: $bc-secondary;
					transition: $transition;
					&:before {
						content: "";
						position: absolute;
						bottom: -10px;
						left: 0;
						width: 0;
						height: 1px;
						background: $bc-secondary;
						transform-origin: left;
						transition: $transition;
					}
					&:after {
						content: "";
						position: absolute;
						bottom: -20px;
						right: 0;
						width: 0;
						height: 1px;
						background: $bc-secondary;
						transform-origin: right;
						transition: $transition;
					}
					&:hover {
						&:before {
							width: 75%;
							transition: $transition;
						}
						&:after {
							width: 75%;
							transition: $transition;
						}
					}
				}
			}

			&.bc-active {
				&:before {
					content: "";
					position: absolute;
					bottom: -10px;
					left: 0;
					width: 75%;
					height: 1px;
					background: $bc-secondary;
					transform-origin: left;
					transition: $transition;
				}
				&:after {
					content: "";
					position: absolute;
					bottom: -20px;
					right: 0;
					width: 75%;
					height: 1px;
					background: $bc-secondary;
					transform-origin: right;
					transition: $transition;
				}
			}
		}
	}
}
@media screen and (min-width: 1200px) {
	ul#primary-menu {
		li {
			margin: 0 20px;
			a {
				font-size: 15px;
				line-height: 20px;
			}
		}
	}
}
