#above-nav {
	position: fixed;
	z-index: 1002;
	top: 0;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	width: 100%;
	padding: 0 50px 0 0;
	height: $above-nav-height;
	background-color: $bc-primary;
	font-family: $heading-font;
	.above-nav-items {
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		align-items: center;
		a {
			color: white;
			&:hover {
				color: white;
			}
		}
		.contact-nav {
			display: flex;
			align-items: center;
			flex-direction: row;
			flex-wrap: wrap;
			padding: 5px 0;
			max-height: $above-nav-height;
			.phone-number,
			.contact {
				display: flex;
				justify-content: space-between;
				align-items: center;
				padding: 0 10px;
				margin: 0;
				max-height: 100%;
				border-right: 1px solid white;
				img {
					margin: 0 5px 0 0;
					width: 12px;
					filter: invert(100%);
				}
				span {
					display: inline;
					padding: 0;
					max-height: 100%;
					line-height: 20px;
					font-weight: 300;
					text-transform: uppercase;
					color: white;
					vertical-align: middle;
				}
				i {
					color: white;
					font-size: 17px;
				}
			}
		}
	}
}
#above-nav {
	.phone-number {
		span {
			font-size: 15px;
		}
	}
	.contact {
		span {
			font-size: 0px;
		}
	}
}
@media screen and (min-width: 992px) {
	#above-nav {
		padding: 0;
	}
}
@media screen and (min-width: 390px) {
	#above-nav {
		.above-nav-items {
			.contact-nav {
				.contact {
					padding: 0 15px;
					span {
						font-size: 15px;
					}
					i {
						color: white;
						font-size: 17px;
					}
				}
				.phone-number {
					padding: 0 15px;
				}
			}
		}
	}
}
@media screen and (min-width: 576px) {
	#above-nav {
		.above-nav-items {
			.contact-nav {
				.contact,
				.phone-number {
					padding: 0 25px;
				}
			}
		}
	}
}

// Toggle Search
#show-searchform {
	&.search-nav {
		display: flex;
		justify-content: center;
		align-items: center;
		height: $above-nav-height;
		width: 50px;
		cursor: pointer;
		transition: $transition;
		img {
			margin: 0;
			height: 15px;
			width: 15px;
			filter: invert(100%);
			transition: $transition;
		}
		&:hover {
			img {
				filter: invert(1);
			}
		}
	}
}
